.box{
	height: 100px;
	background-color: limegreen;
	margin-bottom: 10px;
}
h3{
	text-align: center;
	
}
.boxx{
	height: 100px;
	background-color: #3498db;
	margin-bottom: 10px;
}
.bbb{
	background-color: #2c3e50;
}